@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calendar</h2>

<iframe src="https://www.google.com/calendar/embed?title=O2H3%20Calendar&amp;mode=AGENDA&amp;height=700&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=hashcalendar%40gmail.com&amp;color=%23711616&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%2388880E&amp;ctz=America%2FNew_York" style=" border:solid 1px #777 " width="500" height="700" frameborder="0" scrolling="no">
</iframe>