@{
    ViewBag.Title = "Hareline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hareline</h2>
<iframe class="hareline" id="pageswitcher-content" frameborder="0" marginheight="0" marginwidth="0" src="https://docs.google.com/spreadsheets/d/1UxUDpUZ8uAKzzaAX7GA3zUmeUn6i6Uaa5yvHYAfNWMg/pubhtml/sheet?headers=false&amp;gid=0" ></iframe>