@{
    ViewBag.Title = "Hash Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hash Stats</h2>

<iframe src="https://spreadsheets.google.com/pub?key=0AjM4QeGA1tyDdFNTcVpSMmFMaFhYajRlUGxXYmUyZlE&amp;output=html&amp;widget=true" class="graphicBorder" frameborder="0" height="600" width="435" scrolling="no"></iframe>