@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Other Orlando Hash House Harriers</h2>


<p>
    Come out and join us for a different twist on running and having fun. What are we all about? We are all about having fun with friends.
    We are a "drinking club with a running problem." Every Saturday we jog, walk, crawl and run a 2 to 5 mile cross country fun run.
    We follow a trail marked with flour and chalk laid by "hares" which ends at an "On-On" celebration and party. 
    The cost is $7 and includes all the beer, soda and water you care to drink. It only takes half a mind to hash, so come out and join us!
    We run every Saturday afternoon and the evening of every full moon. 
    See our schedule and the details of upcoming hashes on our O2H3 Hash Calendar or visit the special events page.

    @Html.ActionLink("Contact Us!", "Contact", "Home")

</p>

