@{
    ViewBag.Title = "Mismanagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mismanagement</h2>

<div class="section_w480">
<hr>

<table align="center" width="100%">
<tbody>
<tr valign="top">

<td align="center"><img src="../../Content/Captain.jpg" alt="GM: Captn" height="200" width="150"><br>
Grand Master:<br>
<a href="mailto:voodoocane6007@yahoo.com">Captain Jack Swallows</a><br>
<br></td>

<td align="center"><img src="../../Content/DickJockey.jpg" alt="JuniorGM: Dick Jockey" height="200" width="150"><br>
Junior GM:<br>
<a href="mailto:dickjockeyo2h3@gmail.com">Dick Jockey</a><br>
<br>
<br></td> 

<td align="center"><img src="../../Content/CDG.jpg" alt="Hare Raiser: CDG" height="200" width="150"><br>
Hare Raiser:<br>
<a href="mailto:stevecdg@icloud.com">Comes Dumps Goes</a><br>
<br>
<br></td> 

</tr>
<tr valign="top">

<td align="center"><img src="../../Content/LTD.jpg" alt="Hash Cash: LTD" height="200" width="150"><br>
Hash Cash:<br>
<a href="mailto:rlomago@yahoo.com">Likes Tiny Dicks</a><br>
<br></td>

<td align="center"><img src="../../Content/ReligiousAdvisor.jpg" alt="Religious Advisor: Pit Fart" height="200" width="150"><br>
Religious Advisor:<br>
Pit Fart<br>
<br></td>

<td align="center"><img src="../../Content/vacant.JPG" alt="Open" height="200" width="150"><br>
Beer Meister:<br> 
<a href="http://www.o2h3.net/BeerVolunteer.html">Volunteer NOW</a><br>
<br>
<br></td>

</tr>

<tr valign="top">

<td align="center"><img src="../../Content/Kiddus.jpg" alt="Haberdasher" height="200" width="150"><br>
Haberdasher:<br>
<a href="mailto:breeserfl@gmail.com">Kiddus Interruptus</a><br>
<br></td>

<td align="center"><img src="../../Content/Web Mistress 3.jpg" alt="Web Meistress: Regatta Get a Boob Job" width="150" height="200"><br>
Web Meistress:<br>
<a href="mailto:regatta@centurylink.net">Regatta Get a Boob Job</a><br>
<br></td>

<td align="center"><img src="../../Content/Web Master.jpg" alt="Web Meister: Super Cool Guy" width="150" height="200"><br>
Web Meister:<br>
Super Cool Guy<br>
<br></td>

</tr>

</tbody>
</table>
</div>