@{
    ViewBag.Title = "RedDress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>O2H3 2016 Red Dress Weekend Feb. 11-14</h2>

<img src="../../Content/O2H3RedDress2013sa.jpg" alt="Red Dress Event Picture"/>
